{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} container-fluid" data-template="base.twig">
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header" >
			{% block header %}
				<div class="wrapper row h-100">
					<div class="nav-wrap p-0 col-sm-12 text-center row m-0 text-md-left mx-sm-auto mr-lg-auto my-auto">
						<h2 class="col-sm-12 col-md-6 name text-sm-center text-md-left my-auto" role="banner">
							<a class="name__link" href="{{site.url}}" rel="home">{{site.name}}</a>
							<button class="d-md-none ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<svg class="navbar-toggler-icon" version="1.1" id="Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 512 183.41" style="enable-background:new 0 0 512 183.41;" xml:space="preserve">
							<rect width="512" height="59.02"/>
							<rect x="0" y="124.39" width="512" height="59.02"/>
							</svg>
							</button>
						</h2>


						<nav id="nav-main" class="p-0 col-sm-12 col-md-6 nav-main text-md-right text-sm-center my-auto ml-auto navbar navbar-expand-md" role="navigation">
							{% include "menu.twig" with {'items': menu.get_items} %}
						</nav><!-- #nav -->
					</div>




				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper row{% if fn('is_front_page') %} hero{% endif %}">
			{% if fn('is_front_page') %}
			<div class="col-sm-10 col-md-9 col-lg-8 mx-auto">
				<img src="{{ theme.path }}/assets/img/hi.svg" alt="Hi" class="hi">

			</div>
			{% endif %}
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}} col-12">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer" class="footer row">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>
