{% extends "base.twig" %}



{% block content %}
	<div class="content-wrapper row">
		<article class="post-type-{{ post.post_type }} col-sm-10 col-md-6 mx-auto project" id="post-{{ post.ID }}">
			<section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				<h3 class="tag-list">
					{{ post.tags|join(' | ')}}
				</h3>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
			<div class="drag-panel" id="resize" ></div>
		</article>
	</div><!-- /content-wrapper -->

	<script>
	let m_pos;
	function resize(e){
	  const dx = 2 * ( m_pos - e.x );
	  m_pos = e.x;
		article.style.maxWidth = "100%";
	  article.style.width = (parseInt(getComputedStyle(article, '').width) + dx) + "px";
		article.style.flexBasis = "auto";
	}

	const article = document.querySelector('.project');
	const panel = document.getElementById('resize');
	panel.addEventListener("mousedown", function(e){
		m_pos = e.x;
		document.addEventListener("mousemove", resize, false);
		panel.style.opacity = "0.5";
	}, false);
	document.addEventListener("mouseup", function(){
		document.removeEventListener("mousemove", resize, false);
		panel.style.opacity = null;

	}, false);
	</script>
{% endblock %}
